h1, h2, h3, h4 {
  margin-top: 0;
}

body .content-header {
    margin-bottom: 20px;
}

body section {
    margin-bottom: 40px;
}

body section.condensed {
    margin-bottom: 0;
}

.dataTables_wrapper img.loading {
    display: block;
    margin: auto;
}

.dataTables_empty {
    text-align: center;
    font-style: italic;
}

#search .modal-content {
    padding: 20px;
}

#search button {
    width: 100%;
}

.table-rly-condensed {
    font-size: 13px;
}
